body {
  //background-color: #424383;
}

.home {
  text-align: center;
  color: #fff;
}

.logo {
  margin: 20px 0;
}

.title {
  padding: 0;
  margin: 20px 0;
}

.counter h3 {
  margin: 0;
  padding: 10px 0;
}

#sources, #teams, #teams > div, #players, #players > div {
	border: 2px solid black;
	width: 100%;
}

#teams, #players {
	display: flex;
}

.moveTeamLeft {
	float: left;
	clear: both;
}

.moveTeamLeft + span {
    float: left;
}

.moveTeamRight {
	float: right;
}